/waSantaClara/waSantaClara/bin
/waSantaClara/waSantaClara/obj
/waSantaClara/Custom/obj
/waSantaClara/Custom/bin
/waSantaClara/DBModel/obj
/waSantaClara/DBModel/bin
/waSantaClara/Models/obj
/waSantaClara/Models/bin
